# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler files
.bundle/
vendor/

# Mac OS files
.DS_Store

# Ruby environment files
.ruby-version
.ruby-gemset

# Log files
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo 